/* Header styling */
header { 
  background: #2D2D2D;
  height: 30px;
  border-bottom: 1px solid #000;
  font-family: Helvetica;
  margin: 5,5,5,5;
}

.right { 
  color: #c4d0e4;
  float: right;
  font-size: 12px;
  padding-right: 8px;
}

.left {  
  color: #f7f6f7;
  float: left;
  font-size: 18px;
  padding-right: 8px;
}

/* Menubar styling */

nav {
  height: 18px;
  border-bottom: 1px solid #000;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;  
  color: #f9f6f6;
  background-color: #989d9e;
  text-align: left;
  alignment-baseline: left;
 }
 
a {
  text-decoration: none;
  
  color: white;
  font-size: 11px;
  font-family: Verdana;
  padding-left: 5px;
  padding-right: 5 px;         
 }

a:hover {
  decoration: none;
  color: black;
  font-size: 14px;
  font-family: Verdana;
  padding-left: 5px;
  padding-right: 5 px;         
 }

a:visited {
  color: #00FF00;	
}

a:active {
  color: #0000FF;	
}

/* Bookmarks */